.forgot-password-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .forgot-password-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .forgot-password-container form {
    display: flex;
    flex-direction: column;
  }
  
  .forgot-password-container label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .forgot-password-container input {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .forgot-password-container button {
    margin-bottom: 10px;
  }
  
  .forgot-password-container p {
    text-align: center;
  }